@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300,800);
html {
  font-family: 'Open Sans', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.Jumbo-Back {
    background-image: url('Images/Main_Back.jpg');
    background-size:100%;
    background-repeat: no-repeat;
    z-index:-1;
    margin-bottom:0;
    color:white;
    padding:75px 0;
}
.navbar-tran {
    background-color: rgba(0, 151, 136, 0.7);
    font-size: 16px;
    font-weight: 600;
    height:70px;
    padding:10px 0px;
    border:0 !important;
}
    .navbar-tran .navbar-nav > li > a {
        color: white;
    }